body {
  font-family: 'Special Elite', cursive;
}

h1 {
  margin-top: 50px;
}

img {
  height: 135px;
  width: auto;
  margin-bottom: -36px;
}

.btn {
  width: 100px;
  margin-top: 25px;
  float: right;
}

label {
  font-size: 18px;
}

#say, #name {
  font-size: 16px;
  width: 90%;
  border-radius: 20px;
  height: 40px;
}
